h1 {
  text-align: center;
  color: aliceblue;
  font-family: 'Lexend Deca', sans-serif;
  text-decoration: underline;
}
.App-header {
  margin: 30px 0px;
}
.App-footer {
  text-align: center;
  margin: 30px 0px;

}
body {
  background-color: #1f174a;
}
.App {
  max-width: 700px;
  display: block;
  margin: 0 auto;
}