h1 {
  text-align: center;
  color: aliceblue;
  font-family: 'Lexend Deca', sans-serif;
  text-decoration: underline;
}
.App-header {
  margin: 30px 0px;
}
.App-footer {
  text-align: center;
  margin: 30px 0px;
  color: aliceblue;

}
body {
  background-color: #1f174a;
}
.App {
  max-width: 700px;
  display: block;
  margin: 0 auto;
}
.ftr {
  color: #d1212d;
  text-decoration: none;
  font-weight: 500;
}
.ftr:hover {
  color: aliceblue;
  transition: ease-in-out 300ms;
}